@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces
@using BugTracker.Models.Enums

@inject UserManager<BTUser> userManager
@inject IBTProjectService projectService

@{
    ViewData["Title"] = "Assign Tickets";
    BTUser btUser = await userManager.GetUserAsync(User);
    List<Project> projects = await projectService.GetAllProjectsByCompanyAsync(btUser.CompanyId);
}

<div class="col-12 my-4">
    <h2 class="my-1">Ticket List</h2>
    <table class="table table-hover align-middle">
        <thead class="text-pink">
            <tr>
                <th>Owner</th>
                <th>Assigned To</th>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Date Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var project in projects)
            {
                <tr class="fw-bolder">
                    <td colspan="7" class="bg-dark fst-italic text-pink">Project: <span class="fst-normal small text-light">@project.Name</span></td>
                    @foreach (var ticket in Model.OrderByDescending(d => d.Created))
                    {
                        if (ticket.ProjectId == project.Id)
                        {
                            <tr class="text-light">
                                <td>
                                    @if (ticket.OwnerUser != null)
                                    {
                                        <span>@ticket.OwnerUser.FullName</span>
                                    }
                                    else
                                    {
                                    }
                                </td>
                                <td>
                                    @if (ticket.DeveloperUserId != null)
                                    {
                                        <a asp-controller="Tickets" asp-action="AssignDeveloper" asp-route-id="@ticket.Id" class="btn btn-xs btn-outline-warning">@ticket.DeveloperUser?.FullName</a>
                                    }
                                    else
                                    {
                                        if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                                        {
                                            <a class="btn btn-xs btn-outline-info" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
                                        }

                                    }
                                </td>
                                <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" class="text-light"><strong>@ticket.Title</strong></a></td>
                                <td>
                                    @if (ticket.TicketStatus.Name == nameof(BTTicketStatus.New))
                                    {
                                        <span class="btn btn-small btn-outline-success">@ticket.TicketStatus.Name</span>
                                    }
                                    else if (ticket.TicketStatus.Name == nameof(BTTicketStatus.Development))
                                    {
                                        <span class="btn btn-small btn-outline-primary">@ticket.TicketStatus.Name </span>
                                    }
                                    else if (ticket.TicketStatus.Name == nameof(BTTicketStatus.Testing))
                                    {
                                        <span class="btn btn-small btn-outline-warning">@ticket.TicketStatus.Name </span>
                                    }
                                    else
                                    {
                                        <span class="btn btn-small btn-outline-secondary">@ticket.TicketStatus.Name </span>
                                    }
                                </td>
                                @{
                                    string badgeColor = "btn-outline-info";
                                    switch (ticket.TicketPriority.Name)
                                    {
                                        case "Urgent":
                                            badgeColor = "btn-outline-danger";
                                            break;
                                        case "High":
                                            badgeColor = "btn-outline-warning";
                                            break;
                                        case "Medium":
                                            badgeColor = "btn-outline-primary";
                                            break;
                                        default:
                                            break;
                                    }
                                }
                                <td>
                                    <span class="btn btn-sm @badgeColor">@ticket.TicketPriority.Name </span>
                                </td>
                                <td class="small fst-italic">@ticket.Created.ToString("MM-dd-yyyy")</td>
                                <td>
                                    <a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" class="text-decoration-none text-light"><i class="fs-5 bi-justify"></i></a>
                                    <span class="vr"></span>

                                    @{
                                        bool isDev = ticket.DeveloperUserId == btUser.Id;
                                        bool isOwner = ticket.OwnerUserId == btUser.Id;
                                    }
                                    @if (User.IsInRole(nameof(Roles.Admin)) || isDev || isOwner)
                                    {
                                        <a asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id" class="text-decoration-none text-info"><i class="fs-5 bi-pencil"></i></a>
                                        <span class="vr"></span>
                                        @if (ticket.Archived)
                                        {
                                            <a asp-action="Restore" asp-controller="Tickets" asp-route-id="@ticket.Id" class="text-decoration-none text-success"><i class="fs-5 bi-arrow-clockwise"></i></a>
                                        }
                                        else
                                        {
                                            <a asp-action="Archive" asp-controller="Tickets" asp-route-id="@ticket.Id" class="text-decoration-none text-danger"><i class="fs-5 bi-archive"></i></a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


