@model BugTracker.Models.ViewModels.NotificationDetailsViewModel


@{
    ViewData["Title"] = "Details";
}

<div class="col-12">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-8">

        </div>
    </div>
</div>


<h1>Details</h1>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Viewed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification.Viewed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Ticket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification.Ticket.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Recipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification.Recipient.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Sender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification.Sender.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Notification?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
