@model IEnumerable<BugTracker.Models.Project>
@using BugTracker.Models.Enums

@{
    ViewData["Title"] = "Assign Projects";
}

<div class="col-12 my-4">
    <table class="table table-hover align-middle">
        <thead class="text-pink">
            <tr>
                <th>Project</th>
                <th>Assign</th>
                <th>Created</th>
                <th>Image</th>                      
                <th>Priority</th>
                <th># of Members</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr class="fw-bolder">
                    <td>
                        <a asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id" class="text-light"><strong>@project.Name</strong></a>
                        <p class="x-sm text-secondary">@project.Description</p>
                    </td>
                    <td><a asp-action="AssignPM" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-xs btn-outline-info">Assign PM</a></td>
                    <td class="small fst-italic text-light">@project.StartDate.ToString("MM-dd-yyyy")</td>
                    <td>
                        @if (project.ImageFileData != null)
                        {
                            <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="data:image/*;base64,@(Convert.ToBase64String(project.ImageFileData))" />
                        }
                        else
                        {
                            <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="" />
                        }
                    </td>
                    @{
                        string badgeColor = "btn-outline-info";
                        switch (project.ProjectPriority.Name)
                        {
                            case "Urgent":
                                badgeColor = "btn-outline-danger";
                                break;
                            case "High":
                                badgeColor = "btn-outline-warning";
                                break;
                            case "Medium":
                                badgeColor = "btn-outline-primary";
                                break;
                            default:
                                break;
                        }
                    }
                    <td>
                        <span class="btn btn-sm @badgeColor">@project.ProjectPriority.Name</span>
                    </td>
                    <td class="text-light">
                        <span>@project.Members.Count()</span>
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id" class="text-decoration-none text-light"><i class="fs-5 bi-justify"></i></a>
                        <span class="vr text-light"></span>

                        @if (User.IsInRole(nameof(Roles.Admin)))
                        {
                            <a asp-action="Edit" asp-controller="Projects" asp-route-id="@project.Id" class="text-decoration-none text-info"><i class="fs-5 bi-pencil"></i></a>
                            <span class="vr text-light"></span>
                            @if (project.Archived)
                            {
                                <a asp-action="Restore" asp-controller="Projects" asp-route-id="@project.Id" class="text-decoration-none text-success"><i class="fs-5 bi-arrow-clockwise"></i></a>
                            }
                            else
                            {
                                <a asp-action="Archive" asp-controller="Projects" asp-route-id="@project.Id" class="text-decoration-none text-danger"><i class="fs-5 bi-archive"></i></a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

